<form style='width:100%;' class='form-inline'>
	<input class='form-control mr-md-2' type='search' placeholder='Search' aria-label='Search'>
	<button class='btn btn-outline-primary my-2 my-md-0' type='submit'>Search</button>
</form>