<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        
                
        <title>Debug</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Idea2Life</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="#">AI Debug View (showing last 10 images)</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <!-- <div class="carousel" style="height: 70%"> -->
            {% if data %}
                {% for e in data %}
                        <div class="col s12 m3">
                          <div class="card">
                            <div class="card-image">
                              <img src="{{ url_for('static',filename='images/'+e+'') }}">

                            </div>
                            <div class="card-content">
                              <p>{{(e.split(".")[0])}}</p>
                            </div>

                          </div>
                        </div>
                    
                    <!-- <a class="carousel-item" href="#{{e}}">
                            <p class="text-center my-3">{{(e.split(".")[0])}}</p>
                        <img src="{{ url_for('static',filename='images/01-11-2019-07-02-4206CWEM9D_out.png') }}">
                        
                    </a> -->
                {% endfor %}
            {% else %}
                <h3 class="col-md-5 push-md-3">No images to show.</h3>
            {% endif %}
            </div>
        </div>

        <!-- Compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
                $(document).ready(function(){
                $('.carousel').carousel();
                });
        </script>
    </body>
</html>