
	<title>Idea2Life Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- Stylesheets here-->
    
    <link rel="stylesheet" href="/adminassets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/adminassets/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adminassets/css/pretty-checkbox/pretty-checkbox.min.css">
    <link rel="stylesheet" href="/adminassets/admin.css">