<div class="row text-center align-items-center">
    <div class="col-lg-3">
    </div> 
      <div class="col-lg-6">
              <a href="/admin" class="align-items-center"><img width="150px" height="150px" src="/adminassets/noun_Rabbit_2736297.svg" /></a>
      </div> 
    <div class="col-lg-3">
    </div> 
</div>

<div class="text-center">
    <div style="height: 100px;" class="outer">
      <div class="inner"></div>
    </div>
    <div class="space-sm"> </div>
    <h2 style="margin-top: 0px; color: #fe414d;">idea2Life</h2>
    <h4>Make prototyping blazing fast!</h4> 
</div>

<div class="space"> </div>