<div class="jumbotron text-center" style="background-color: #ffffff;">
    <a href="/admin" ><img width="150px" height="150px" src="/adminassets/noun_Rabbit_2736297.svg" /></a>
    <div style="height: 125px;" class="outer">
      <div class="inner"></div>
    </div>
    <br/>
    <h2 style="margin-top: 0px; color: #fe414d;">idea2Life</h2>
    <h4>Make prototyping blazing fast!</h4> 

   <!--  <div>
      <br/>
      <h4>Powered By - KEPLER</h4> 
    </div> -->
  </div>