<div style="margin: 0 auto;width:100%;text-align:center;">
	<a href="https://www.facebook.com/publicissapient/" target="_blank" class="fa fa-social fa-facebook"
	style="background: white;
    color: #fe414d;
    padding: 10px;
    font-size: 30px;
    width:50px;
    text-align: center;
    text-decoration: none;
    margin: 1% 2%;
    border-radius: 50%;"></a>
	<a href="https://twitter.com/publicissapient" target="_blank" class="fa fa-social fa-twitter" style="background: white;
    color: #fe414d;
    padding: 10px;
    font-size: 30px;
    width:50px;
    text-align: center;
    text-decoration: none;
    margin: 1% 2%;
    border-radius: 50%;"></a>
	<a href="https://www.linkedin.com/company/10801655/" target="_blank" class="fa fa-social fa-linkedin" style="background: white;
    color: #fe414d;
    padding: 10px;
    font-size: 30px;
    width:50px;
    text-align: center;
    text-decoration: none;
    margin: 1% 2%;
    border-radius: 50%;"></a>
</div>