<nav style='width:100%;' class='navbar navbar-expand-md navbar-light bg-light'>
	<a class='navbar-brand'href='#'>
		<img src='<%= base_path %>assets/Header/logo.svg' width='50' height='50' alt=''>
	</a>
	<form class='form-inline ml-auto'>
		<input class='form-control mr-md-2' type='search' placeholder='Search' aria-label='Search'>
		<button class='btn btn-outline-success my-2 my-md-0' type='submit'>Search</button>
	</form>
</nav>