<footer class='fixed-bottom font-small' style='color:white'>
	<div class='footer-copyright text-center py-3'>© 2019 Copyright:
		<a href='http://experiencesutra.com/' style='color:white'>Kepler Lab</a>
	</div>
</footer>