<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/admin_head %>
</head>
<body>
  <% include partials/header_component %>

  <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-4"><h1>Page Not Found!</h1></div> 
          <div class="col-lg-4 vertical align-items-center">
              
          </div>
          <div class="col-lg-3"></div> 
      </div>
      <div class="space">
        </div>
      
      
  </div> 

</body>
</html>