<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/admin_head %>
</head>
<body>
  <% include partials/header_component %>

  <div class="container">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-2 vertical align-items-center">
        </div> 
        <div class="col-lg-3 vertical align-items-center">
          <div class="bd-placeholder-img rounded-circle"><img width="60" height="60" src="/adminassets/camera_color.svg" /></div>
          <h3><a style="color: #fe414d;" href="/generator/ui/home">Prototype</a>
         </h3>
          <br/>
          <p>Create prototype and simulate your web app future.</p>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3 vertical">
          <div class="bd-placeholder-img rounded-circle"><img width="60" height="60" src="/adminassets/cutomize_Color.svg" /></div>
          <h3><a style="color: #fe414d;" href="/admin/view" >Customize</a></h3>
          <br/>
          <p>Customize your page design layout to match your design or brand guidelines. </p>
        </div>
        <div class="col-lg-2">
        </div> 
      </div>
      
      <div class="row">
        <div class="col-lg-1">
        </div> 
        <div class="col-lg-10">
          <div class="outerhorizontal">
            <div class="innerhorizontal"></div>
          </div> 
        </div> 
        <div class="col-lg-1">
        </div> 
      </div>
      <div class="space-sm">
        </div> 
      <div class="row text-center align-items-center">
          <div class="col-lg-3">
          </div> 
            <div class="col-lg-6">
                <h3 class="text-center align-items-center">
                    <img src="/adminassets/Help_Black.svg" /> 
                    &nbsp;&nbsp;
                    <a class="text-center align-items-center" style="text-align: center; color: #fe414d;" href="https://keplervaani.com/idea2life/" target="_blank">Need Help</a>
                  </h3>
              </div> 
          <div class="col-lg-3">
          </div> 
      </div>
  </div> 
</body>
</html>